body {
  padding: 50px;
  font: 14px "Rubik","Lucida Grande", Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: Bernound-clean;
  src: url("/font/VLBernound-Clean.otf") format("opentype");
}

@font-face {
  font-family: Ventography;
  src: url("/font/Ventography_Personal_Use_Only.ttf") format("truetype");
}



@font-face {
  font-family: biosans;
  src: url("/font/SVN-Bio_Sans_Regular.ttf") format("truetype");
}

@font-face {
  font-family: Averta;
  src: url("/font/Intelligent_Design-AvertaStdCY-Regular_3.otf") format("opentype");
}


@font-face {
  font-family: sunflora;
  src: url("/font/SVN-Sunflora.otf") format("opentype");
}

@font-face {
  font-family: adode-caslon-pro;
  src: url("/font/VNF-ACaslonPro-Regular.ttf") format("truetype");
}


@font-face {
  font-family: ny-irvin;
  src: url("/font/NY-Irvin-non-vietnamese.ttf") format("truetype");
}

/* Color reference: https://www.colourlovers.com/palette/694737/Thought_Provoking 
https://www.colourlovers.com/palette/932683/Compatible
*/


.style-font-ny-irvin{
  font-family: "ny-irvin";
}


.style-compatible-color-pink-h1{
    background-color: #FF3D7F;
    padding: 8px;
    color: #fff;
    font-size: 75px;
    padding-top: 20px;
}

.circle-style{
  color: #fff;
  padding: 5%;
  width: 180px;
  height: 180px;
  margin: 2 -15px;
  mix-blend-mode: multiply;  
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}

.title{
  color: #FF3D7F;
  padding: 8px;    
    font-size: 75px;
    padding-top: 20px;
}

.style__font-adode-caslon-pro{
  font-family: "adode-caslon-pro"
}

.style__taxi-color{
    background-color: #faf218;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 3px;
}

.style__compatible-color-light-blue{
  color: #7FC7AF;
}


.averta{
  font-family: "Averta"
}


.biosans{
  font-family: "biosans"
}


a {
  color: #00B7FF;
}

#setup, .punchline{
  font-size: 20px;
}

.rukik{
  font-family: "Rukik", Helvetica, Arial, sans-serif;
}

.sunflora{
  font-family: "sunflora", Helvetica, Arial, sans-serif;
}

.Special_Elite{
  font-family: "Special Elite", Helvetica, Arial, sans-serif;;
}


.background-linear-gradient{
  background: linear-gradient(-70deg,#f0f -44%,#1e0a78 157%);
}

.feature-title {
  margin-top: -8px;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-right: 0px;
  font-family: 'Work Sans', sans-serif;
  font-size: 36px;
  line-height: 1.1em;
  font-weight: 300;
  text-align: left;
  letter-spacing: -0.01em;
}

.work-sans {
  
  font-family: 'Work Sans', sans-serif;
  font-size: 22.5px;
  line-height: 1.1em;  
  text-align: left;
  letter-spacing: -0.01em;
}

.bernound-clean{
  font-family: "Bernound-clean";
}

.ventography{
  font-family: "Ventography";
}


.blue-compatible{
  color:#fff!important; 
  background-color: #3FB8AF!important; 
  border: #3FB8AF!important;
}


/* animista.net  */

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-18 11:55:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


.vibrate-1{-webkit-animation:vibrate-1 .3s linear infinite forwards;animation:vibrate-1 .3s linear infinite forwards}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-18 12:49:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes vibrate-1{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}80%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}@keyframes vibrate-1{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}80%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}

/* END OF animista.net  */
